@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: 'HeadingFont';">Welcome To Ayush's Forum</h1>
    <p style="margin-bottom: 0px; margin-top: 50px; font-weight: bold;">To start a discussion, simply go to the "Discuss" page</p>
    <p style="font-weight: bold;">To view or comment on the exisiting discussions, simply go to the "Home" page</p>
</div>
