@model IEnumerable<Forum.Models.Question>


<h3>List of all questions</h3>


@foreach (var item in Model)
{

    <hr />
    <h4 style="margin-top: 15px;">@item.Title</h4>
    <p>@item.Description </p>  

    <form asp-action="DeleteQuestion" method="post" asp-route-id="@item.Id">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
   
}
